$primary-color: #009688;
$secondary-color: #004d40;
$text-color: #ffffff;
$background-color: #f0f4f5;
$button-color: #ff9800;
$button-hover-color: #e68900;

.home-container {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-wrap: break-word;
}

.header {
  overflow-wrap: break-word;
  text-align: center;

  h1 {
    margin-bottom: 10px;
    color: $primary-color;
  }

  .tagline {
    font-size: 1.5rem;
    color: $secondary-color;
  }
}

.about {
  background-color: $primary-color;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 80%;
  max-width: 800px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.donate {
  background-color: $secondary-color;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .donate-button {
    background-color: $button-color;
    border: none;
    color: $text-color;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
  color: $secondary-color;
}
